<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>MyTARDIS {% if subtitle %}- {{ subtitle }} {% endif %}</title>

    {% include "tardis_portal/javascript_libraries.html" %} 

	{% block script %}
	{% endblock script %}
<script src="http://datatables.net/download/build/jquery.dataTables.js"></script>
<script src="http://datatables.net/release-datatables/extras/ColVis/media/js/ColVis.js"></script>
<script src="http://datatables.net/release-datatables/extras/ColReorder/media/js/ColReorder.js"></script>
<script src="http://datatables.net/release-datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<!--<script
    src="http://datatables.net/extras/thirdparty/ColReorderWithResize/ColReorderWithResize.js"></script>
-->

	<link href="/site_media/css/default.css" rel="stylesheet" type="text/css" media="screen">
<style>
body {
    background: none;
}
</style>
</head>

<body>
    {% block content %}
        {% include "summary_table/index.html" %}
    {% endblock %}
</body>

</html>
